{% extends 'account/base.html' %}
{% load static %}
{% block content %}
      <header>
        Reset password
      </header>
      <form action="#" method="POST">
        {% if messages %}
        {% for msg in messages %}
      <div class="alert {{msg.tags}} alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
        <strong>{{msg}}</strong>
      </div>
        {% endfor %}
        {% endif %}
        {% csrf_token %}
        <input type="password" name="currentpassword" placeholder="Enter your current password" required>
        <input type="password" name = "newpassword" placeholder="Enter new password" required>
        <input type="password" name = "confirmpassword", placeholder="Enter confirm password" required>
        <input type="submit" class="button" value="Submit">
      </form>
      
      {% comment %} <div class="signup"> {% endcomment %}
        
{% endblock %}
