{% extends 'products/base.html' %}
{% load static %}
{% block content %}


<div class="container">
    
    <h1 class="mb-4 display-5 font-weight-semi-bold" >{{name}}</h1>
    
            <div class="contact-form">
                <div id="success"></div>
                {% for message in messages  %}
                <div class="alert {{message.tags}} alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
                    <strong>{{message}}</strong>
                </div>
                {% endfor %}
                <form  action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.errors %}
    
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
                        <strong>{{field.errors}}</strong>
                    </div>  
                    {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            {{form.name.label}}
                            {{form.name}}
                            {{form.company.label}}
                            {{form.company}}
                            {{form.size.label}}
                            {{form.size}}
                            {{form.size.help_text}}
                            <div>
                                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModalsize">
                                    add size
                                </button>
                            </div>
                            {{form.price.label}}
                            {{form.price}}
                            {{form.inventory.label}}
                            {{form.inventory}}
                            {{form.description.label}}
                            {{form.description}}
                            <input type="text" name="created_by" value="{{request.user}}" class="form-control mb-3" required="" data-validation-required-message="Please enter your name" disabled="True" id="id_created_by">
                        </div>
                        <div class="col-md-6 col-lg-6">
                            {{form.colour.label}}
                            {{form.colour}}
                            <div>
                                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModalcolor">
                                    add color
                                </button>
                            </div>
                            {{form.colour.help_text}}
                            {{form.section.label}}
                            {{form.section}}
                            {{form.category.label}}
                            {{form.category}}
                            <div>
                                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModalcategory">
                                    add Category
                                </button>
                            </div>
                            {{form.image.label}}
                            {{form.image}}
                        </div>
                    </div>
                    <input class="btn btn-primary py-2 px-4" type="submit" name="submit">
                </form>
            </div>
            <!-- Button trigger modal -->
            
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModalsize" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Size</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="" class="">Size</label>
                        <input type="text" class="form-control" name="addsize" required>
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalcolor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Color</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="" class="">Color</label>
                        <input type="text" class="form-control" name="addcolor" required>
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalcategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label for="" class="">Category</label>
                        <input type="text" class="form-control" name="addcategory" required>
                        </div>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
</div>
{% endblock  %}