{% extends 'products/base.html' %}
{% block content %}
<!-- Shop Detail Start -->

<div class="container-fluid py-5">

    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <img class="w-100 h-100" src="{{products.image.url}}" alt="Image">   
        </div>
        <div class="col-lg-7 pb-5">
            <button hidden id="id" value="{{products.id}}"></button>
            <h3 id="alertmessage"></h3>
            <h3 class="font-weight-semi-bold">{{products.name}}</h3>
            {% comment %} <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div> {% endcomment %}
            <h3 class="font-weight-semi-bold mb-4">Company: {{products.company}}</h3>
            <h3 class="font-weight-semi-bold mb-4">Rs.{{products.price}}</h3>
            <p class="mb-4">{{products.description}}</p>
            <div class="d-flex mb-3">   
                <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
                
                    {% for s in size %}
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input size" onclick="displayRadioValue()" id="{{s.name}}" name="size" value="{{s.name}}">
                        <label class="custom-control-label" for="{{s.name}}">{{s.name}}</label>
                    </div>
                    {% endfor %}
                    <div id="clothsize"></div>
            
            </div>
            <div class="d-flex mb-4">
                <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
            
                    {% for c in color %}
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input"  id="{{c.name}}" onclick="displayRadioValue()"  name="color" value="{{c.name}}">
                        <label class="custom-control-label" for="{{c.name}}">{{c.name}}</label>   
                    </div>
                    {% endfor %}
                    <div id="clothcolor"></div>
    
            </div>
            <div class="d-flex align-items-center mb-4 pt-2"> 
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus" >
                            <i class="fa fa-minus"></i>
                            </button>
                        </div>  

                        <input type="text" name="quantity" id = "quantity"  class="form-control bg-secondary text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>               
                    {% comment %} <div class="row">
                        <div class="col-sm-3 mx-auto">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn btn-outline-secondary btn-number"  data-type="minus" data-field="quant[1]">
                                        <span class="fa fa-minus"></span>
                                    </button>
                                </span>
                                <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div> {% endcomment %}
                <form id="post-form">
                    {% csrf_token %}
                    <button id = "submit" type="submit" class="btn btn-primary px-3">add to cart</button>
                </form>
            </div>       
        </div>
    </div>
    </div>
<!-- Shop Detail End -->


<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                {% for p in likesproduct|slice:4  %}
                <div class="card product-item border-0">
                    <a href="{% url 'detail' p.id %}" class="btn btn-sm text-dark p-0">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="card-img" src="{{p.image.url}}" alt="">
                    </div>
                    </a>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{p.name}}t</h6>
                        <div class="d-flex justify-content-center">
                            <h6>Rs.{{p.price}}</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{% url 'detail' p.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<script type="text/javascript">
    function displayRadioValue() {
        var ele = document.getElementsByName('size');
        var ele1 = document.getElementsByName('color');
        
        for(i = 0; i < ele.length; i++) {
            if(ele[i].checked){
            document.getElementById("clothsize").value = ele[i].value;
            }
        }
        for(i = 0; i < ele1.length; i++) {
            if(ele1[i].checked){
            document.getElementById("clothcolor").value = ele1[i].value;
            }
        }
    }
    function suceessmessage(){
        document.getElementById("alertmessage").innerHTML = "Item is added to cart successfully"
        const list = document.getElementById("alertmessage").classList;
        list.add("alert-success");
    }
    $("#submit").click(function(e){
        
        e.preventDefault();
        
        $.ajax({
            type:'POST',
            url:'',
            data:{
                clothsize:$('#clothsize').val(),
                clothcolor:$('#clothcolor').val(),
                quantity:$('#quantity').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function(response){
               console.log(response.message)
               document.getElementById("alertmessage").innerHTML = response.message;
               const list1 = document.getElementById("alertmessage").classList;
               list1.add("alert-danger");
            }
            
        });
    });
</script>
<!-- Products End -->
 {% comment %} window.history.pushState("sdf","asdf","{% url 'showcart' user.id %}"); {% endcomment %}
{% endblock %}